{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block extra_js %}
<script>
var PERMISSIONS = {{ json.dumps(PERMISSIONS_E) }};
var UIDS = {{ json.dumps(UIDS) }};
var current_uid = {{ current_user.uid }};
$(document).ready(function() {
    {% if action == 'save' %}
    save_anim();
    {% endif %}

    for (var i = 0; i < PERMISSIONS.length; i++) {
        var p = PERMISSIONS[i];
        // .active is significant in Bootstrap, so we're changing the name here
        if (p == 'active') { p = 'is_active'; }
        $('th.' + p + ' button.select_all-perm').click(function() {
            p = this.attributes['data-perm'].value;
            $('.' + p + ' input').each(function() { this.checked = true; });
        });
        $('th.' + p + ' button.select_none-perm').click(function() {
            p = this.attributes['data-perm'].value;
            $('.' + p + ' input').each(function() {
                if ((p != 'is_admin' && p != 'is_active') || this.attributes['data-uid'].value != {{ current_user.uid }}) {
                    this.checked = false;
                }
            });
        });
    }

    for (var i = 0; i < UIDS.length; i++) {
        uid = UIDS[i];
        $('.u' + uid + ' button.select_all-user').click(function() {
            uid = this.attributes['data-uid'].value;
            $('input.u' + uid).each(function() { this.checked = true; });
        });
        $('.u' + uid + ' button.select_none-user').click(function() {
            uid = this.attributes['data-uid'].value;
            $('input.u' + uid).each(function() {
                if (uid != current_uid || ((this.attributes['data-perm'].value != 'is_admin') && (this.attributes['data-perm'].value != 'is_active'))) { this.checked = false; }
            });
        });
    }
});
</script>
{% endblock %}
{% block content %}
<div class="page-header">
<h1>Permissions</h1>
</div>

{% if alert %}
<div class="alert alert-{{ alert_status }}" role="alert">{{ alert }}</div>
{% endif %}

<form action="{{ url_for('acp_users_permissions') }}" method="POST">
<table class="table table-hover users">
<thead><tr>
    <th class="uid">#</th>
    <th class="username">Username</th>
    <th class="perm is_active"><div class="perm-descr">Active</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="is_active"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="is_active"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm is_admin"><div class="perm-descr">Admin</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="is_admin"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="is_admin"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm must_change_password"><div class="perm-descr">Must change password</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="must_change_password"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="must_change_password"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm can_edit_all_posts"><div class="perm-descr">Can all posts</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="can_edit_all_posts"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="can_edit_all_posts"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm wants_all_posts"><div class="perm-descr">Wants all posts</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="wants_all_posts"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="wants_all_posts"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm can_upload_attachments"><div class="perm-descr">Attachments</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="can_upload_attachments"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="can_upload_attachments"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm can_rebuild_site"><div class="perm-descr">Rebuild</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="can_rebuild_site"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="can_rebuild_site"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="perm can_transfer_post_authorship"><div class="perm-descr">Transfer authorship</div>
        <button type="button" class="btn btn-info btn-xs select_all-perm" data-perm="can_transfer_post_authorship"><i class="fa fa-check-square-o fa-fw"></i></button>
        <button type="button" class="btn btn-info btn-xs select_none-perm" data-perm="can_transfer_post_authorship"><i class="fa fa-square-o fa-fw"></i></button>
    </th>
    <th class="select_all">Select all</th>
</tr></thead>
{% for uid, user in USERS %}
{% if user.is_active %}
<tr class="u{{ uid }}">
    <td class="uid">{{ uid }}</td>
    <td class="username">{{ user.username }}</td>
    {% for p in PERMISSIONS_E %}
    <td class="perm
{% if p == 'active' %}
is_active
{% else %}
{{ p }}
{% endif %}
">{{ display_permission(user, p) }}</td>
    {% endfor %}
    <td class="select_all"><button type="button" class="btn btn-sm btn-info select_all-user" data-uid="{{ uid }}"><i class="fa fa-check-square-o fa-fw"></i></button> <button type="button" class="btn btn-sm btn-info select_none-user" data-uid="{{ uid }}"><i class="fa fa-square-o fa-fw"></i></button></td>
</tr>
{% endif %}
{% endfor %}
</table>

{{ form.csrf_token }}
<div style="text-align: center;"><button type="submit" class="btn btn-primary btn-lg save-btn"><i class="fa fa-save fa-fw save-icon"></i> Save</button></div>

</form>

{% endblock %}
