{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="page-header">
<h1>Error {{ code }}</h1>
</div>
<p class="lead">{{ desc }}</p>
{% endblock %}
