<%inherit file="base.tmpl"/>
<%block name="extra_head">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</%block>
<%block name="content">
<!-- New Page Modal -->
<div class="modal fade" id="newPage" tabindex="-1" role="dialog" aria-labelledby="newPageLabel" aria-hidden="true">
  <form method="POST" action="/new/page">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newPageLabel">Create New Page?</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" name="title" id="title" placeholder="Title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Page</button>
      </div>
    </div>
  </div>
  </form>
</div>

<!-- New Post Modal -->
<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
  <form method="POST" action="/new/post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newPostLabel">Create New Post?</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" name="title" id="title" placeholder="Title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </div>
  </div>
  </form>
</div>


<h1 class="title">Users</h1>

<table class="table table-hover">
<thead><tr>
    <th>Username</th>
    <th>Real name</th>
    <th>Can edit users</th>
    <th>Actions</th>
</tr></thead>
% for user, data in USERS.items():
<tr>
    <td>${user}</td>
    <td>${data['name']}</td>
    <td>
    % if data['can_edit_users']:
    <i class="fa fa-check"></i>
    % else:
    <i class="fa fa-times"></i>
    % endif
    </td>
    <td>
    <div class="btn-group" role="group">
    <a href="/users/${user}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></a>
    % if user == USERNAME:
    <a href="#" class="btn btn-danger btn-xs disabled"><i class="fa fa-trash"></i></a>
    % else:
    <a href="/users/${user}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
    % endif
    </div>
</tr>
% endfor
<tr><form action="/users/create/new" method="POST">
    <td><input name="name" placeholder="User to create"></td>
    <td></td>
    <td></td>
    <td><button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></button></td>
</form></tr>
</table>

</%block>
