<%inherit file="base.tmpl"/>
<%block name="extra_head">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</%block>
<%block name="content">
<!-- New Page Modal -->
<div class="modal fade" id="newPage" tabindex="-1" role="dialog" aria-labelledby="newPageLabel" aria-hidden="true">
  <form method="POST" action="/new/page">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newPageLabel">Create New Page?</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" name="title" id="title" placeholder="Title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Page</button>
      </div>
    </div>
  </div>
  </form>
</div>

<!-- New Post Modal -->
<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
  <form method="POST" action="/new/post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newPostLabel">Create New Post?</h4>
      </div>
      <div class="modal-body">
        <input class="form-control" name="title" id="title" placeholder="Title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </div>
  </div>
  </form>
</div>


<h1 class="title">Editing ${post.title()}</h1>
<form method="POST" class="form-horizontal" role="form" id="form" onsubmit="contentToTextarea()">
    % for k,v in post.meta['en'].items():
        <div class="form-group">
            <label for="${k}" class="col-sm-2 control-label">${k}</label>
            <div class="col-sm-10">
                <input name="${k}" value="${v}" class="form-control">
            </div>
        </div>
    % endfor

        <div id="toolbar">
          <a data-wysihtml5-command="bold">bold</a>
          <a data-wysihtml5-command="italic">italic</a>
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
          <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
          <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
          <a data-wysihtml5-command="createLink">link</a> |
          <a data-wysihtml5-command="removeLink"><s>link</s></a> |
          <a data-wysihtml5-command="insertImage">insert image</a> |
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-blank-value="true">plaintext</a> |
          <a data-wysihtml5-command="insertUnorderedList">insertUnorderedList</a> |
          <a data-wysihtml5-command="insertOrderedList">insertOrderedList</a> |
          <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a> |
          <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a> |
          <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a> |
          <a data-wysihtml5-command="undo">undo</a> |
          <a data-wysihtml5-command="redo">redo</a> |
          <a data-wysihtml5-command="insertSpeech">speech</a>
          <a data-wysihtml5-action="change_view">switch to html view</a>
          <div data-wysihtml5-dialog="createLink" style="display: none;">
            <label>
              Link:
              <input data-wysihtml5-dialog-field="href" value="http://">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
          <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <label>
              Image:
              <input data-wysihtml5-dialog-field="src" value="http://">
            </label>
            <label>
              Align:
              <select data-wysihtml5-dialog-field="className">
                <option value="">default</option>
                <option value="wysiwyg-float-left">left</option>
                <option value="wysiwyg-float-right">right</option>
              </select>
            </label>
          </div>

<hr/>
<div id="content-editor" data-placeholder="Go on, start editing..."></div>
<textarea name="content" id="content-area" style="display: none;"></textarea>
<button formaction="/save/${post.source_path}"><span class="glyphicon glyphicon-save"></span> Save</button>
</form>
<script src="/static/js/wysihtml5x-toolbar.min.js"></script>
<script src="/static/js/rules/advanced_and_extended.js"></script>
<script type="text/javascript">
  document.getElementById('content-editor').innerHTML = ${json.dumps(open(path).read().split('\n\n', 1)[1])};
  
    var editor = new wysihtml5.Editor('content-editor', {
    toolbar: 'toolbar',
    parserRules:  wysihtml5ParserRules
  });
  
  function contentToTextarea(){
    var form=document.getElementById('form');
    if(!form){
     return;
    }

    var div=document.getElementById('content-editor');
    var textarea=document.getElementById('content-area');
    textarea.value = div.innerHTML;
    return "success";
  }
</script>
</%block>
