{% extends 'base.tmpl' %}
{% block extra_head %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.inactive-user .username, .inactive-user .realname {
    text-decoration: line-through;
}
</style>
{% endblock %}
{% block extra_js %}
<script>
$('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var username = button.data('username');
    var uid = button.data('uid');
    var direction = button.data('direction');
    var modal = $(this);
    modal.find('.del-title').text(username);
    modal.find('.del-uid').val(uid);
    modal.find('.del-direction').val(direction);
    if (direction == 'del') {
        modal.find('.del-noun').text('deletion');
        modal.find('.del-verb').text('delete');
        modal.find('.del-verb-capital').text('Delete');
    } else {
        modal.find('.del-noun').text('undeletion');
        modal.find('.del-verb').text('undelete');
        modal.find('.del-verb-capital').text('Undelete');
    }
});
</script>
{% endblock %}
{% block content %}
<h1 class="title">Users</h1>

{% if alert %}
<div class="alert alert-{{ alert_status }}" role="alert">{{ alert }}</div>
{% endif %}

<table class="table table-hover">
<thead><tr>
    <th>#</th>
    <th>Username</th>
    <th>Real name</th>
    <th>Admin</th>
    <th>Actions</th>
</tr></thead>
{% for uid, user in USERS.items() %}
{% if user.active %}
<tr>
{% else %}
<tr class="danger inactive-user">
{% endif %}
    <td class="uid">{{ uid }}</td>
    <td class="username">{{ user.username }}</td>
    <td class="realname">{{ user.realname }}</td>
    <td>
    {% if user.is_admin %}
    <i class="fa fa-check"></i>
    {% else %}
    <i class="fa fa-times"></i>
    {% endif %}
    </td>
    <td>
    <form action="/users/edit" method="POST">
    <input type="hidden" name="uid" value="{{ uid }}">
    <input type="hidden" name="action" value="edit">
    <div class="btn-group" role="group">
    {% if user.active %}
        <button type="submit" class="btn btn-info btn-xs" title="Edit"><i class="fa fa-pencil"></i> Edit</button>
        {% if user == current_user %}
        <button type="button" class="btn btn-danger btn-xs" title="Delete" disabled><i class="fa fa-trash"></i> Delete</button>
        {% else %}
        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal" data-username="{{ user.username }}" data-uid="{{ uid }}" data-direction="del" title="Delete"><i class="fa fa-trash"></i> Delete</button>
        {% endif %}
    {% else %}
        <button type="button" class="btn btn-info btn-xs" title="Edit" disabled><i class="fa fa-pencil"></i> Edit</button>
        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#deleteModal" data-username="{{ user.username }}" data-uid="{{ uid }}" data-direction="undel" title="Undelete"><i class="fa fa-trash-o"></i> Undelete</button>
    {% endif %}
    </div>
    </form>
</tr>
{% endfor %}
<tr><form action="/users/edit" method="POST">
    <td><i class="fa fa-plus"></i></td>
    <td><input name="username" placeholder="User to create"></td>
    <td><input name="action" value="new" type="hidden"></td>
    <td></td>
    <td><button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-plus-square"></i> Create</button></td>
</form></tr>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Confirm <span class="del-noun">something</span></h4>
      </div>
      <div class="modal-body">
      Really <span class="del-verb">do something to</span> <span class="del-title">user</span>?
      </div>
      <div class="modal-footer">
        <form method="POST" action="/users/delete" class="delete-button">
        <input type="hidden" name="uid" class="del-uid">
        <input type="hidden" name="direction" class="del-direction">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger del-verb-capital">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
