## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_head">
</%block>
<%block name="content">
<div class="page-header">
<h1>Error ${code}</h1>
</div>
<p class="lead">${desc}</p>
</%block>
