## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_js">
% if action == 'save':
<script>$(document).ready(function() { save_anim(); });</script>
% elif action == 'save_fail':
<script>$(document).ready(function() { save_fail_anim();});</script>
% endif
<script>
$('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var username = button.data('username');
    var uid = button.data('uid');
    var direction = button.data('direction');
    var modal = $(this);
    modal.find('.del-username').text(username);
    modal.find('.del-uid').val(uid);
    modal.find('.del-direction').val(direction);
    if (direction == 'del') {
        modal.find('.del-noun').text('deletion');
        modal.find('.del-verb').text('delete');
        modal.find('.del-verb-capital').text('Delete');
        modal.find('.del-verb-capital').addClass('btn-danger');
    } else {
        modal.find('.del-noun').text('undeletion');
        modal.find('.del-verb').text('undelete');
        modal.find('.del-verb-capital').text('Undelete');
        modal.find('.del-verb-capital').addClass('btn-success');
    }
});
</script>
</%block>
<%block name="content">
<div class="page-header">
<h1>Users</h1>
</div>

% if alert:
<div class="alert alert-${alert_status}" role="alert">${alert}</div>
% endif

<table class="table table-hover users" style="table-layout: fixed;">
<thead><tr>
<th class="uid">#</th>
<th class="username">Username</th>
<th class="realname">Real name</th>
<th class="email">E-mail address</th>
<th class="is_admin">Admin</th>
<th class="actions">Actions</th>
</tr></thead>
% for uid, user in USERS:
% if user.active:
<tr>
% else:
<tr class="danger inactive-user">
% endif
<td class="uid">${uid}</td>
<td class="username">${user.username}</td>
<td class="realname">${user.realname}</td>
<td class="email">${user.email}</td>
<td class="actions">
% if user.is_admin:
<i class="fa fa-check"></i>
% else:
<i class="fa fa-times"></i>
% endif
</td>
<td class="actions">
<form action="${url_for('acp_users_edit')}" method="POST">${editform.csrf_token}
<input type="hidden" name="uid" value="${uid}">
<input type="hidden" name="action" value="edit">
<div class="btn-group" role="group">
% if user.active:
<button type="submit" class="btn btn-sm btn-info" title="Edit"><i class="fa fa-pencil fa-fw"></i> Edit</button>
% if user.uid == current_user.uid:
<button type="button" class="btn btn-sm btn-danger" title="Delete" disabled><i class="fa fa-trash fa-fw"></i> Delete</button>
% else:
<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal" data-username="${user.username}" data-uid="${uid}" data-direction="del" title="Delete"><i class="fa fa-trash fa-fw"></i> Delete</button>
% endif
% else:
<button type="button" class="btn btn-sm btn-info" title="Edit" disabled><i class="fa fa-pencil fa-fw"></i> Edit</button>
<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#deleteModal" data-username="${user.username}" data-uid="${uid}" data-direction="undel" title="Undelete"><i class="fa fa-trash-o fa-fw"></i> Undelete</button>
% endif
</div>
</form>
</tr>
% endfor
<tr><form action="${url_for('acp_users_edit')}" method="POST">${editform.csrf_token}
<td class="uid"><strong>Create:</strong></td>
<td colspan="4"><input name="username" placeholder="New user"
class="form-control input-sm"><input type="hidden" name="action" value="new"></td>
<td><button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus-square fa-fw"></i> Create</button></td>
</form></tr>
<tr><form action="${url_for('acp_users_import')}" method="POST" enctype="multipart/form-data">${importform.csrf_token}
<td class="uid"><strong>Import:</strong></td>
<td colspan="4"><input name="tsv" type="file" required></td>
<td><button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-file-text-o fa-fw"></i> Import TSV</button></td>
</form></tr>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Confirm <span class="del-noun">something</span></h4>
      </div>
      <div class="modal-body">
      Really <span class="del-verb">do something to</span> <strong class="del-username">user</strong>?
      </div>
      <div class="modal-footer">
        <form method="POST" action="${url_for('acp_users_delete')}" class="delete-button">
        <input type="hidden" name="uid" class="del-uid">
        <input type="hidden" name="direction" class="del-direction">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        ${delform.csrf_token}
        <button type="submit" class="btn del-verb-capital">Delete</button>
      </div>
    </div>
  </div>
</div>
</%block>
