## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_js">
% if action == 'save':
<script>$(document).ready(function() { save_anim(); });</script>
% endif
</%block>
<%block name="content">
<form method="POST" class="form-horizontal" role="form" id="form" action="${url_for('edit', path=post.source_path)}">
<input name="title" value="${post.title()}" class="form-control title input-lg" placeholder="Title">

<div id="post-meta-line" class="metadata form-inline container-fluid"><div class="row">
    <div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
        <input class="form-control" name="date" placeholder="Date" value="${post.meta('date')}">
    </div><div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <select class="form-control" name="author.uid"
        % if not current_user.can_transfer_post_authorship:
        disabled
        % endif
        >
            % for auid, aname in users:
                <option
                %if int(auid) == int(current_auid):
                selected
                % endif
                value="${auid}">${aname}</option>
            % endfor
        </select>
    </div><div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-tags fa-fw"></i></span>
        <input class="form-control" name="tags" type="text" placeholder="Tags" value="${post.meta('tags')}">
    </div><div class="input-group col-md-3">
        <span class="input-group-addon"><i class="fa fa-archive fa-fw"></i></span>
        <input class="form-control" name="category" type="text" placeholder="Category" value="${post.meta('category')}">
    </div>
</div></div>

% for k,v in post.meta['en'].items():
    % if k not in ['title', 'date', 'tags', 'category', 'author', 'author.uid']:
        <input type="hidden" name="${k}" value="${v}">
    % endif
% endfor

        <div id="toolbar" class="btn-toolbar">
        <div class="btn-group"><button type="submit" class="btn btn-sm btn-primary save-btn"><i class="fa fa-save fa-fw save-icon"></i> Save</button></div>

% if is_html:
        <div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="bold" title="CTRL+B"><i class="fa fa-bold"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="italic" title="CTRL+I"><i class="fa fa-italic"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="underline" title="CTRL+U"><i class="fa fa-underline"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="createLink"><i class="fa fa-link"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="removeLink"><i class="fa fa-unlink"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="insertImage"><i class="fa fa-image"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H2</a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="justifyLeft"><i class="fa fa-align-left"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="justifyCenter"><i class="fa fa-align-center"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="justifyRight"><i class="fa fa-align-right"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="justifyFull"><i class="fa fa-align-justify"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red"><i class="fa fa-circle" style="color: red;"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green"><i class="fa fa-circle" style="color: green;"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue"><i class="fa fa-circle" style="color: blue;"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-command="undo"><i class="fa fa-undo"></i></a>
          <a class="btn btn-default btn-sm" data-wysihtml5-command="redo"><i class="fa fa-repeat"></i></a>
        </div><div class="btn-group">
          <a class="btn btn-default btn-sm" data-wysihtml5-action="change_view"><i class="fa fa-code"></i></a>
        </div>
          <div data-wysihtml5-dialog="createLink" style="display: none;">
            <label>
              Link:
              <input data-wysihtml5-dialog-field="href" value="http://">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
          <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <label>
              Image:
              <input data-wysihtml5-dialog-field="src" value="http://">
            </label>
            <label>
              Align:
              <select data-wysihtml5-dialog-field="className">
                <option value="">default</option>
                <option value="wysiwyg-float-left">left</option>
                <option value="wysiwyg-float-right">right</option>
              </select>
            </label>
          </div>
% else:
<div class="btn-group btn btn-sm disabled markup-warning text-warning"><i class="fa fa-warning"></i> Format: <strong>${post.compiler.name}</strong> — editor unavailable</div>
% endif
</div>

<textarea name="content" id="content-area" class="form-control" rows="24">${post_content}</textarea>
</form>
% if is_html:
<script src="/bower_components/wysihtml/dist/wysihtml5x-toolbar.min.js"></script>
<script src="/bower_components/wysihtml/parser_rules/advanced_and_extended.js"></script>
<script type="text/javascript">
    var editor = new wysihtml5.Editor('content-area', {
    toolbar: 'toolbar',
    parserRules:  wysihtml5ParserRules,
    stylesheets: ['/coil_assets/css/wysihtml5x.css']
  });
</script>
% endif
</%block>
